
.signupform {

    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styles for the form inside the signup container
.signup form {
    display: flex;
    flex-direction: column;
   
   
} */


/* Styles for labels */
.signupform label {
    font-weight: bold;
   
}

/* Styles for text input fields */
.signupform input[type="text"] {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}

/* Styles for the submit button */
.signupform button {
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    max-width: 100px;
    margin: 20px;
    
   
}

/* Hover styles for the submit button */
.signupform button:hover {
    background-color: #0056b3;
}



.signinbtn{
    color: #007bff;
    text-align: end;  
    
}

.signinbtn button{
    margin: 0 auto;
    width: 200px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fallback color */
    /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif; /* Set a default font family */
}



